<h1> My New Song </h1>


<ul>
    {{#each notes}}
        <li>
<a href="/notes/{{this.id}}" >
{{this.pitch}}

            </a>
        </li>
    {{/each}}
</ul>

<a class="link" href="/notes/newNote">Add a Note</a>

<a class="link" href="/scores">Song List</a>