<h1> My New Song </h1>


<ul>
    {{#each notes}}
        <li>
<a href="/notes/{{this.id}}" >
{{this.pitch}}

            </a>
        </li>
    {{/each}}
</ul>
<div id="new-song">


</div>

<a href ="/scores">Show Score Names</a>