<h2> Songs</h2>
<ul>
    {{#each scores}}
        <li>
            <a href="/scores/{{this.id}}" >
                {{this.name}}
            </a>
        </li>
    {{/each}}
</ul>

<a href ="/scores/newSong">Add a New Song</a>